.loginBody {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#000000'); /* for IE */
}
.loginDiv {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;        
    background-image: url('Images/loginBox.png');
    width:546px;
    height:100px;
    margin-left: -273px; /*half width*/
    margin-top: -132px; /*half height*/
}
.textoVermelho{
	color: red !important;
}
.align-right{
	vertical-align: rigth;
}