<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Insert title here</title>
</head>
<body>
	<p:form>
		<f:view>
			<h:outputText value="Usuario #{usuarioBean.nome} logado"></h:outputText>
		</f:view>
		<p:fieldset legend="Passo 1" style="margin-bottom:20px">
			<p:wizard>
	        	<p:tab id="veiculo" title="Veículo">
		            <p:panel header="Dados do veículo">
		                <p:messages />
		                <h:panelGrid columns="2" >
		                    <h:outputText value="Marca *" />
		                    <p:inputText value="#{homeMBean.marca}" required="true" label="Marca"/>
		 
		                    <h:outputText value="Modelo: *" />
		                    <p:inputText value="#{homeMBean.veiculo.descricaoModelo}" required="true" label="Modelo"/>
		 
		                    <h:outputText value="Ano de fabricação: " />
		                    <p:inputText value="#{homeMBean.veiculo.anoFabricacao}"/>
		                    
		                    <h:outputText value="Ano de modelo: " />
		                    <p:inputText value="#{homeMBean.veiculo.anoModelo}"/>
		                </h:panelGrid>
		            </p:panel>
		        </p:tab>
		 
		        <p:tab id="pessoal" title="Pessoal">
		            <p:panel header="Dados pessoais">
		                <p:messages />
		                <h:panelGrid columns="2" columnClasses="label, value">
		                    <h:outputText value="Nome: " />
		                    <p:inputText value="#{homeMBean.perfil.nome}" />
		 
		                    <h:outputText value="Data de nascimento: " />
		                    <p:inputText value="#{homeMBean.perfil.dataNascimento}" />
		 
		                    <h:outputText value="Telefone: " />
		                    <p:inputText value="#{homeMBean.perfil.telefone}" />
		 
		                    <h:outputText value="Email: " />
		                    <p:inputText value="#{homeMBean.perfil.email}" />
		                    
		                    <h:outputText value="Cep " />
		                    <p:inputText value="#{homeMBean.perfil.cep}" />
		                </h:panelGrid>
		            </p:panel>
		        </p:tab>
		 
		        <p:tab id="cotacao" title="Cotacao">
		            <p:panel header="Resultado da cotação">
		                <p:messages />
		                <h:panelGrid>
		                    <p:dataTable var="tipo" value="#{homeMBean.getResultadoCotacao()}">
							    <p:column>
							        <p:selectBooleanCheckbox value="" />
							    </p:column>
							    
							    <p:column headerText="Tipo do seguro">
							        <h:outputText value="#{tipo.key.label}" />
							    </p:column>
							 
							    <p:column headerText="Valor">
							        <h:outputText value="#{tipo.value}" />
							    </p:column>
							</p:dataTable>
		                </h:panelGrid>
		            </p:panel>
		        </p:tab>
		 
		        <p:tab id="pagamento" title="Contracação">
		            <p:panel header="Finalizar contratação">
		               <h:panelGrid columns="2" columnClasses="label, value">
	                        <h:outputText value="Nome: " />
	                        <h:outputText value="#{homeMBean.perfil.nome}" />
	 
	                        <h:outputText value="Marca: " />
	                        <h:outputText value="#{homeMBean.marca}" />
	                        
	                        <h:outputText value="Modelo: " />
	                        <h:outputText value="#{homeMBean.veiculo.descricaoModelo}" styleClass="outputLabel"/>
	 
	                        <h:outputText value="Valor: " />
	                        <h:outputText value="#{homeMBean.cotacao.valorCotacao}" styleClass="outputLabel"/>
	                    </h:panelGrid>
		                <p:commandButton value="Confirmar" actionListener="" update="growl" process="@this"/>
		            </p:panel>
		        </p:tab>
		    </p:wizard>
		</p:fieldset>
	</p:form>
</body>
</html>