<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Insert title here</title>
</head>
<body>
	<f:view>
		<h:form>
			<h:panelGrid border="1" columns="2">
				<h:outputText value="Nome"></h:outputText>
				<h:inputText value="#{usuarioBean.nome}">
				</h:inputText>
				<h:outputText value="Idade"></h:outputText>
				<h:inputText value="#{usuarioBean.idade}">
				</h:inputText>
				<h:outputText value="Senha"></h:outputText>
				<h:inputSecret value="#{usuarioBean.senha}"> </h:inputSecret>
			</h:panelGrid>
			<h:commandButton value="Salvar" action="#{salvarUsuario.salvar()}"></h:commandButton>
		</h:form>
	</f:view>
</body>
</html>