<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title><h:outputText value="Opã, logou!" /></title>
		<link rel="stylesheet" href="css/seguraTchan.css" type="text/css" media="screen" />
	</h:head>

	<h:body class="loginBody">
		<h:form>
			<h:panelGrid>
				<p:commandButton value="Voltar" update="@form" action="#{usuarioView.home()}"/>
			</h:panelGrid>
			<p:panel header="Cadastro de usuários" style="width: 50%;">
				<p:messages id="messages" showDetail="true" autoUpdate="true" closable="true" />
				<p:commandButton value="Pesquisar" update="@form" process="@this" action="#{usuarioView.carregarUsuarios()}"/>
                <p:commandButton value="Novo" update="idCadastrar" process="@this" action="#{usuarioView.novo()}" 
                	oncomplete="PF('cadastrar').show()" />
                <p:dataTable value="#{usuarioView.usuarios}" var="item"
                           emptyMessage="Nenhum usuário cadastrado">
                   	<p:column headerText="Nome">
						<p:outputLabel value="#{item.nome}"/>
					</p:column>
                    <p:column footerText="Botões">
						<p:commandButton value="Trocar senha" action="#{usuarioView.trocarSenha(item)}"
							oncomplete="PF('trocarSenha').show()" process="@this" update="idTrocarSenha"/>
						<p:commandButton value="Excluiiiir" update="@form" process="@this" action="#{usuarioView.excluir(item)}"/>
					</p:column>
				</p:dataTable>
            </p:panel>
		</h:form>
		<p:dialog width="40%"
			header="Trocar senha"
			appendTo="@(body)" widgetVar="trocarSenha"
			id="idTrocarSenha" modal="true"
			resizable="false" draggable="false" >
			<h:form>
				<h:panelGrid columns="2" class="label, value" >
					<p:outputLabel value="Nova senha"/>
					<p:password value="#{usuarioView.usuario.senha}" label="Senha"/>
					
					<p:outputLabel id="repitaSenha" value="Repita a senha"/>
					<p:password value="#{usuarioView.usuario.novaSenha}" label="Senha" />
				</h:panelGrid>
				<p:commandButton value="Salvar" update="@form" action="#{usuarioView.trocarSenha()}"
					oncomplete="PF('trocarSenha').hide();"/>
			</h:form>
		</p:dialog>
		
		<p:dialog width="40%"
			header="Cadastrar novo"
			appendTo="@(body)" widgetVar="cadastrar"
			id="idCadastrar" modal="true"
			resizable="false" draggable="false" >
			<h:form>
				<h:panelGrid columns="2" class="label, value" >
					<p:outputLabel value="Nome de usuário"/>
					<p:inputText value="#{usuarioView.usuario.nome}" label="Nome"/>
					
					<p:outputLabel value="Idade"/>
					<p:inputText value="#{usuarioView.usuario.idade}" label="Idade" type="numeric"/>
					
					<p:outputLabel value="Senha"/>
					<p:password value="#{usuarioView.usuario.senha}" label="Senha"/>
					
					<p:outputLabel value="Repita a senha"/>
					<p:password value="#{usuarioView.usuario.novaSenha}" label="Senha" />
				</h:panelGrid>
				<p:commandButton value="Salvar" update="@form" action="#{usuarioView.salvar()}"
					oncomplete="PF('trocarSenha').hide();"/>
			</h:form>
		</p:dialog>
	</h:body>
</html>
