<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Cotação</title>
	</h:head>
	<h:body>
		<h:form>
			<f:view>
				<h:outputText value="Usuario #{usuarioBean.nome} logado"></h:outputText>
			</f:view>
			<p:fieldset legend="Passo 1" style="margin-bottom:20px">
				<p:wizard>
		        	<p:tab id="veiculo" title="Veículo">
			            <p:panel header="Dados do veículo">
			                <p:messages />
			                <h:panelGrid columns="2" >
			                    <h:outputText value="Marca *" />
			                    <p:selectOneMenu value="#{cotacaoView.marca}">
						            <f:selectItem itemLabel="Selecione" itemValue="" />
						            <f:selectItems value="#{cotacaoView.marcas()}" />
						        </p:selectOneMenu>
 
			 
			                    <h:outputText value="Modelo *" />
			                    <p:inputText value="#{cotacaoView.veiculo.descricaoModelo}" required="true" label="Modelo" requiredMessage="Informe o modelo"/>
			 
			                    <h:outputText value="Ano de fabricação *" />
			                    <p:inputText value="#{cotacaoView.veiculo.anoFabricacao}" required="true" label="Ano de fabricação" 
			                    	requiredMessage="Informe o ano de fabricação" validator="#{cotacaoView.validarAno}"/>
			                    
			                    <h:outputText value="Ano de modelo *" />
			                    <p:inputText value="#{cotacaoView.veiculo.anoFabricacao}" required="true" label="Ano do modelo" 
                    				requiredMessage="Informe o ano do modelo" validator="#{cotacaoView.validarAno}"/>
                    				
                   				<h:outputText value="Valor da Fipe *" />
			                    <p:inputText value="#{cotacaoView.veiculo.valorFipe}" required="true" label="Valor da FIPE" 
                    				requiredMessage="Informe o valor FIPE do seu veículo" type="number"/>
			                </h:panelGrid>
			            </p:panel>
			        </p:tab>
			 
			        <p:tab id="pessoal" title="Pessoal">
			            <p:panel header="Dados pessoais">
			                <p:messages />
			                <h:panelGrid columns="2" columnClasses="label, value">
			                    <h:outputText value="Nome: " />
			                    <p:inputText value="#{cotacaoView.perfil.nome}" />
			 
			                    <h:outputText value="Data de nascimento: " />
			                    <p:calendar id="mask" value="#{cotacaoView.perfil.dataNascimento}" pattern="dd/MM/yyyy" mask="true" />
			                    
			                    <h:outputText value="Telefone celular: " />
			                    <p:inputMask id="phone" value="#{cotacaoView.perfil.telefone}" mask="(99) 99999-9999"/>
			 
			                    <h:outputText value="Email: " />
			                    <p:inputText value="#{cotacaoView.perfil.email}" validator="#{cotacaoView.validarEmail}"/>
			                    
			                    <h:outputText value="Cep " />
			                    <p:inputMask id="cep" value="#{cotacaoView.perfil.cep}" mask="99.999-999"/>
			                </h:panelGrid>
			            </p:panel>
			        </p:tab>
			 
			        <p:tab id="cotacao" title="Cotacao">
			            <p:panel header="Resultado da cotação">
			                <h:panelGrid>
			                    <p:dataTable var="tipo" value="#{cotacaoView.getResultadoCotacao()}" rowKey="#{tipo.key}"
			                    	selectionMode="single" selection="#{cotacaoView.tipoResultadoSelecionado}">
								    <p:ajax event="rowSelect" listener="#{cotacaoView.onRowSelect}"/>
								    <p:column headerText="Tipo do seguro">
								        <h:outputText value="#{tipo.key.label}" />
								    </p:column>
								 
								    <p:column headerText="Valor">
								        <h:outputText value="#{tipo.value}" />
								    </p:column>
								</p:dataTable>
			                </h:panelGrid>
			            </p:panel>
			        </p:tab>
			 
			        <p:tab id="pagamento" title="Contracação">
			            <p:panel header="Finalizar contratação">
			               <h:panelGrid columns="2" columnClasses="label, value">
		                        <h:outputText value="Nome: " />
		                        <h:outputText value="#{cotacaoView.perfil.nome}" />
		 
		                        <h:outputText value="Marca: " />
		                        <h:outputText value="#{cotacaoView.marca}" />
		                        	
		                        <h:outputText value="Modelo: " />
		                        <h:outputText value="#{cotacaoView.veiculo.descricaoModelo}" styleClass="outputLabel"/>
		 
		                        <h:outputText value="Valor: " />
		                        <h:outputText value="#{cotacaoView.cotacao.valorCotacao}" styleClass="outputLabel"/>
		                    </h:panelGrid>
			                <p:commandButton value="Confirmar" process="@this" action="#{cotacaoView.finalizar()}"/>
			            </p:panel>
			        </p:tab>
			    </p:wizard>
			</p:fieldset>
		</h:form>
	</h:body>
</html>