<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title><h:outputText value="Login" /></title>
		<link rel="stylesheet" href="css/seguraTchan.css" type="text/css" media="screen" />
	</h:head>

	<h:body class="loginBody">
		<h:form>
			<h:panelGrid columns="1" class="loginDiv" >
				<p:messages id="messages" showDetail="true" autoUpdate="true" closable="true" />
				<p:inputText value="#{loginView.usuario.nome}" label="Nome" placeholder="Nome"/>
				<p:password value="#{loginView.usuario.senha}" label="Senha" placeholder="Senha"/>
				<p:commandLink id="linkPerdi" value="Perdi a senha" action="#{loginView.esqueciMinhaSenha()}"/>
				<p:commandButton id="botaoLogin" value="Login" action="#{loginView.logar()}"/>
			</h:panelGrid>
		</h:form>
	</h:body>
</html>
