<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title><h:outputText value="Opã, logou!" /></title>
		<link rel="stylesheet" href="css/seguraTchan.css" type="text/css" media="screen" />
	</h:head>

	<h:body class="loginBody">
		<h:form>
			<h:panelGrid styleClass="">
				<p:menuButton value="Cadastros">
					<p:menuitem value="Usuários" url="/cadastroUsuario.xhtml"/>
				</p:menuButton>
				<p:menuButton value="Cotação">
					<p:menuitem value="Cotar" url="/cotar.xhtml"/>
				</p:menuButton>
			</h:panelGrid>
			<h:panelGrid columns="1" class="loginDiv" >
				Parabéns! Você acaba de contratar seu seguro!
				Segura o Tchan segurou pra você!!
			</h:panelGrid>
		</h:form>
	</h:body>
</html>